<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">INICIO</div>
                <a class="nav-link" href="{% url 'home' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard Rendimiento
                </a>
                <div class="sb-sidenav-menu-heading">Modulo Formualrios</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Funciones
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'form_index' %}">Creacion de Forms</a>
                        <a class="nav-link" href="{% url 'asignaciones_index' %}">Asignaciones de Forms</a>
                        <a class="nav-link" href="{% url 'formulario_index' %}">Asignaciones Pendientes</a>
                        <a class="nav-link" href="{% url 'feedback_index' %}">FeedBack</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Historial
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Reportes de Rendimiento
                        </a>
                    </nav>
                </div>
                <div class="sb-sidenav-menu-heading">Graficas y Datos</div>
                <a class="nav-link" href="./charts.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Graficas 
                </a>
                <a class="nav-link" href="./tables.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tablas
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Inició sesión con el rol de:</div>
           Admin
        </div>
    </nav>
</div>